div,
details,
summary {
    width: stretch;
    width: -webkit-fill-available;
    width: -moz-available;
}

input[type="radio"] {
    display: none;
}

.on-button>.on-off-status-text::after {
    content: "オン";
}

.off-button>.on-off-status-text::after {
    content: "オフ";
}

label {
    background-color: darkslategrey;
    color: white;

    &:has(input:checked) {
        background-color: aquamarine;
        color: black;
    }
}

summary::marker {
    content: "";
}

.griddable {
    display: grid;
    align-items: center;
    column-gap: 0.5ex;
    row-gap: 1ex;

    & .grid-column-subgrid {
        display: grid;
        grid-template-columns: subgrid;
    }
}

.grid-1fr-1fr {
    grid-template-columns: 1fr 1fr;
}

.grid-1fr-auto-auto-auto-auto {
    grid-template-columns: 1fr auto auto auto auto;
}

.grid-1fr-auto-auto-auto {
    grid-template-columns: 1fr auto auto auto;
}

.grid-1fr-auto-auto {
    grid-template-columns: 1fr auto auto;
}

.full {
    grid-column: 1/-1;
}

#ban-display-status:has([value="hide-ban"]:checked)+details :is(.kingdom, .landscape):has(input[type="radio"][value="ban"]:checked) {
    display: none;
}