div, details, summary {
    width: stretch;
    width: -webkit-fill-available;
    width: -moz-available;
}

.on-button>.on-off-status-text::after {
    content: "オン";
}

.off-button>.on-off-status-text::after {
    content: "オフ";
}

label {
    background-color: darkslategrey;
    color: white;

    &:has(input:checked) {
        background-color: aquamarine;
        color: black;
    }
}

summary::marker {
    content: "";
}

.1fr-auto-auto-auto-auto {
    display: grid;
    grid-template-columns: 1fr auto auto auto auto;
    align-items: center;
}

.1fr-auto-auto-auto {
    display: grid;
    grid-template-columns: 1fr auto auto auto;
    align-items: center;
}

.1fr-auto-auto {
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: center;
}

.full {
    grid-column: 1/-1;
}

#ban-display-status:has([value="hide-ban"]:checked) + details :is(.kingdom, .landscape):has(input[type="radio"][value="ban"]:checked) {
    display: none;
}