.on-button>.on-off-status-text::after {
    content: "オン";
}

.off-button>.on-off-status-text::after {
    content: "オフ";
}

label {
    background-color: darkslategrey;
    color: white;

    &:has(input:checked) {
        background-color: aquamarine;
        color: black;
    }
}